<h1>Agregue sus URL</h1>

{{> Form}}

{{!-- como en symfony, podemos hacer ciclos y otras cosas dentro de hbs, ver documentacion --}}
{{#each urls}}
{{!-- asi importamos (recuerda cambiar el create.hbs en el index) --}}
  {{> Card item=this}}
{{/each}}
